SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

DAGSHUB_USERNAME=seu_usuario
DAGSHUB_TOKEN=seu_token_dagshub
DAGSHUB_REPO=seu_usuario/fetal-health-mlops

MLFLOW_TRACKING_URI=https://dagshub.com/seu_usuario/fetal-health-mlops.mlflow
MLFLOW_TRACKING_USERNAME=seu_usuario
MLFLOW_TRACKING_PASSWORD=seu_token_dagshub
